loop in python
  1. for loop -> step bassed loop
2.  while loop -> condition bassed loop
 syntax:
 for temp in iterable:
 # code block
 '''
 '''python
 while condition 
 # code block
 '''
 *iterable is any object that has children/item to iterable over
 - string
 - list
 - tuple 
 - set
 - dictionary
 - genrator
 - range


  @ loop control

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range (1,11,2):
    print(i, end=',')

1,3,5,7,9,

In [8]:
for i in range(5, -6,-1):
    print(i, end= ',')

5,4,3,2,1,0,-1,-2,-3,-4,-5,

In [9]:
word = 'divyansh'
for char in word:
    print("=.",char)

=. d
=. i
=. v
=. y
=. a
=. n
=. s
=. h

In [10]:
data = 'p_y@!t@h#on'
for i in data:
    if i.isalpha():
        print(i)

p
y
t
h
o
n

In [11]:
nums = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for num in nums:
    print(num*5)

-25
-20
-15
-10
-5
0
5
10
15
20
25

In [12]:
fruits = ['apple', 'banana','cheery','fig','dragonfruit', 'eggplant']
for fruit in fruits:
    print(fruit,len(fruit))

apple 5
banana 6
cheery 6
fig 3
dragonfruit 11
eggplant 8

In [15]:
for i in fruits:
    if i == 'fig':
        break
    print(i)
print('loop completed')

apple
banana
cheery
loop completed

In [1]:
adj = ["red", "big","tasty"]
fruits = ["apple", "banana"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
big apple
big banana
tasty apple
tasty banana

In [4]:
names = ['savita','harshit','muskaan','ritik','irtika']
for i in name:
    print(i)

savita
harshit
muskaan
ritik
irtika

In [3]:
for i,v in enumerate(name):
    print(i,v)

0 savita
1 harshit
2 muskaan
3 ritik
4 irtika

In [5]:
for i, v in enumerate(names):
    if i==3:
        break
    print(v)

savita
harshit
muskaan

In [10]:
for i, v in enumerate(names):
    if i%2==0:
        print(i,v)

0 savita
2 muskaan
4 irtika

In [12]:
for i, v in enumerate(names):
    if i%2 == 0:
        print(v)

savita
muskaan
irtika

In [15]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
for i,j in zip(x,y):
    print(i,j)
    print(f'{i}+{j} = {i+j}')

1 6
1+6 = 7
2 7
2+7 = 9
3 8
3+8 = 11
4 9
4+9 = 13
5 10
5+10 = 15

In [18]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i,j,k)
    print(f'{i}+{j}+{k}={i+j+k}')

1 4 7
1+4+7=12
2 5 8
2+5+8=15
3 6 9
3+6+9=18

In [25]:
name =['apple','banana','cherry']
price = [100,200,300]
qty = [3,2,5]
total = 0
for n,p,q in zip(name,price,qty):
    print(f'{n:10}|{p:^5}|{q:^3}|{p*q:>5}')
    total += p*q

print('_'*30)
print(f"total{total:20}")

apple     | 100 | 3 |  300
banana    | 200 | 2 |  400
cherry    | 300 | 5 | 1500
______________________________
total                2200

In [34]:
for i in range(5):
    print(i)
    if i == 13:
        break
else:
        print('loop completed succesfully')

0
1
2
3
4
loop completed succesfully

In [33]:
n = int(input("enter a stop value:"))
for i in range(1,11):
    if i == n:
        print("loop termianted")
    print(i)
else:
        print("well done")

1
2
3
4
5
6
7
8
9
10
well done

In [43]:
# prime number
n = int(input("enter a nummber"))
for i in range(2,n):
    print(f"=> {n}%{i} == {n%i==0}")
    if n%i==0:
        print("not prime")
        break
else:
     print("prime")

=> 31459%2 == False
=> 31459%3 == False
=> 31459%4 == False
=> 31459%5 == False
=> 31459%6 == False
=> 31459%7 == False
=> 31459%8 == False
=> 31459%9 == False
=> 31459%10 == False
=> 31459%11 == False
=> 31459%12 == False
=> 31459%13 == False
=> 31459%14 == False
=> 31459%15 == False
=> 31459%16 == False
=> 31459%17 == False
=> 31459%18 == False
=> 31459%19 == False
=> 31459%20 == False
=> 31459%21 == False
=> 31459%22 == False
=> 31459%23 == False
=> 31459%24 == False
=> 31459%25 == False
=> 31459%26 == False
=> 31459%27 == False
=> 31459%28 == False
=> 31459%29 == False
=> 31459%30 == False
=> 31459%31 == False
=> 31459%32 == False
=> 31459%33 == False
=> 31459%34 == False
=> 31459%35 == False
=> 31459%36 == False
=> 31459%37 == False
=> 31459%38 == False
=> 31459%39 == False
=> 31459%40 == False
=> 31459%41 == False
=> 31459%42 == False
=> 31459%43 == False
=> 31459%44 == False
=> 31459%45 == False
=> 31459%46 == False
=> 31459%47 == False
=> 31459%48 == False
=> 31459%49 == False
=> 31459%50 == False
=> 31459%51 == False
=> 31459%52 == False
=> 31459%53 == False
=> 31459%54 == False
=> 31459%55 == False
=> 31459%56 == False
=> 31459%57 == False
=> 31459%58 == False
=> 31459%59 == False
=> 31459%60 == False
=> 31459%61 == False
=> 31459%62 == False
=> 31459%63 == False
=> 31459%64 == False
=> 31459%65 == False
=> 31459%66 == False
=> 31459%67 == False
=> 31459%68 == False
=> 31459%69 == False
=> 31459%70 == False
=> 31459%71 == False
=> 31459%72 == False
=> 31459%73 == False
=> 31459%74 == False
=> 31459%75 == False
=> 31459%76 == False
=> 31459%77 == False
=> 31459%78 == False
=> 31459%79 == False
=> 31459%80 == False
=> 31459%81 == False
=> 31459%82 == False
=> 31459%83 == False
=> 31459%84 == False
=> 31459%85 == False
=> 31459%86 == False
=> 31459%87 == False
=> 31459%88 == False
=> 31459%89 == False
=> 31459%90 == False
=> 31459%91 == False
=> 31459%92 == False
=> 31459%93 == False
=> 31459%94 == False
=> 31459%95 == False
=> 31459%96 == False
=> 31459%97 == False
=> 31459%98 == False
=> 31459%99 == False
=> 31459%100 == False
=> 31459%101 == False
=> 31459%102 == False
=> 31459%103 == False
=> 31459%104 == False
=> 31459%105 == False
=> 31459%106 == False
=> 31459%107 == False
=> 31459%108 == False
=> 31459%109 == False
=> 31459%110 == False
=> 31459%111 == False
=> 31459%112 == False
=> 31459%113 == False
=> 31459%114 == False
=> 31459%115 == False
=> 31459%116 == False
=> 31459%117 == False
=> 31459%118 == False
=> 31459%119 == False
=> 31459%120 == False
=> 31459%121 == False
=> 31459%122 == False
=> 31459%123 == False
=> 31459%124 == False
=> 31459%125 == False
=> 31459%126 == False
=> 31459%127 == False
=> 31459%128 == False
=> 31459%129 == False
=> 31459%130 == False
=> 31459%131 == False
=> 31459%132 == False
=> 31459%133 == False
=> 31459%134 == False
=> 31459%135 == False
=> 31459%136 == False
=> 31459%137 == False
=> 31459%138 == False
=> 31459%139 == False
=> 31459%140 == False
=> 31459%141 == False
=> 31459%142 == False
=> 31459%143 == False
=> 31459%144 == False
=> 31459%145 == False
=> 31459%146 == False
=> 31459%147 == False
=> 31459%148 == False
=> 31459%149 == False
=> 31459%150 == False
=> 31459%151 == False
=> 31459%152 == False
=> 31459%153 == False
=> 31459%154 == False
=> 31459%155 == False
=> 31459%156 == False
=> 31459%157 == False
=> 31459%158 == False
=> 31459%159 == False
=> 31459%160 == False
=> 31459%161 == False
=> 31459%162 == False
=> 31459%163 == True
not prime

In [44]:
i = 200
while i>0:
    print(i)
    i -= 25

200
175
150
125
100
75
50
25