# OOPS
- classes and object
 - Attributes (Instance Variables)
 - Methods
 - constructor
- Data classes
- inhertance
 - simple inheritance 
 - multiple inheritance

In [40]:
a = 10

In [41]:
type

type

In [42]:
print(type(a))

<class 'int'>

In [43]:
class A:
    Value = 10

In [44]:
a= A() # obj creation of classs A
print(a.Value) #10

10

In [45]:
class Square:
    
    side = 10
    # instance method -> 1st parameter is self
    def area(self):
        return self.side ** 2
    def perimeter(self):
        return 4 * self.side
    # class methode // smilar to static method in java
    def faltu():
        return " this is faltu"

In [46]:
Square.side
Square.faltu()

' this is faltu'

In [47]:


s = Square()
s.side =20
print(s.area())
print(s.perimeter())

s2 = Square()
s.side =5
print(s2.area())
print(s2.perimeter())

400
80
100
40

constructor
'''
__int__(self,...)

In [48]:
class person:
    def __init__(self,name,age,gender):
        # instance variable
        self.name = name
        self.age = age
        self.gender = gender

    def show(self):
        print(f"name:{self.name},") 
        print(f"age:{self.age},")
        print(f"gender:{self.gender}")

In [49]:
p1 = person("hari", 14, "male")
p2 = person("sita", 20,"female")
p3 = person("gita", 19,"female")

In [50]:
class  calculator:
    def add(self,a, b,):
        return a+b
    def subtract(self,a, b,):
        return a-b
    def multiply(self,a, b,):
        return a*b
    def divide(self,a, b,):
        return a/b

In [51]:
c = calculator()
print(c.add(10,20))
print(c.subtract(10,20))
print(c.multiply(10,20))

30
-10
200

data classes

In [52]:
from dataclasses import dataclass
@dataclass
class product:
    name: str
    price: float
    qty: int


product=[
    product("apple", 100,200),
    product("banana",50,20),
    product("mango",200,5)
]

In [54]:
for item in product:
    print(item.name, item.price*item.qty)

NameError: name 'products' is not defined

In [55]:
product

[product(name='apple', price=100, qty=200),
 product(name='banana', price=50, qty=20),
 product(name='mango', price=200, qty=5)]

In [56]:
[p1,p2,p3]

[<__main__.person at 0x254b33f0680>,
 <__main__.person at 0x254b3417b90>,
 <__main__.person at 0x254b3417fe0>]

In [57]:
import numpy as np 
print(np.array([1,2,3,4,5,6,7]))

[1 2 3 4 5 6 7]

In [58]:
class Dog:
    def __init__(self, bread,color,gender,age,name):
        self.breed = bread
        self.color = color
        self.gender = age
        self.name = name
    def bark(self):
        print("barking")
    def eat(self,food):
        print(f"{self.name} eating{food}")
    def sleep(self,duration):
        print(f"{self.name} slept for{duration} hours" )
    def __str__(self):
        return f"{self.name}({self.breed})"

In [60]:
d1 = Dog("german shepherd", "mae","brown",3, "tommy")
d1 .sleep(5)
print(d1)

tommy slept for5 hours
tommy(german shepherd)

inheritance

In [70]:
class superlist(list):
    def sum(self):
        total = 0
        for item in self:
            if  isinstance(item,(int, float)):
                total += item
            return total
    def mean(self):
        return self.sum()
    def size(self):
        return len([i for i in self if isinstance(i,isinstance(i,(int,float)))])

In [67]:
s1 = superlist([1,2,3,4,5,6])
print(s1.sum())
s12 = superlist(['a',12,3,4,'b','c',10])
print(s12.sum())

1
0

In [65]:
s1 = superlist([1,2,3,4,5,6])