  set
   create
   method

set
   create
   method

In [ ]:
x = set() # empty
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple", "banana", "cherry"}
print(fruits)
data = {'apple',205, 3.14, 'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set("harry potter")
print(a)
print(b)

In [ ]:
a = set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

In [ ]:
a.update(['AppleSeed','ApplePie','AppleCider'])
print(a)

In [ ]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
ab = a.union(b)
print(ab)
print(a.union(b,c))
print(a | b | c) # | is union

In [ ]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

In [ ]:
print(a.difference(b))
print(b.difference(a))
print(a - b) # - is difference
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference

# Dictionary

In [ ]:
data = ["alexa", True, False,29,"new york","photographer"]
datadict = {
    'name': 'alex',
    'is married': True,
    'age': 29,
    'city': 'new york',
    'profession': 'photographer'

}
movies ={} #empty dictionary
expenditure =dict(
    food = 500,
    rent = 1700,
    insurance =200,

)
print(datadict)
print(expenditure)

- creating
- accessing
- add or update
- remove 
- traversal

In [ ]:
print(datadict['name'])
print(datadict['is married'])
print(datadict['city'])
# print(datadict['state]) # keyError

In [ ]:
print(datadict.get('city'))
print(datadict.get('city')) #city is not the dictionary
print(datadict.get('age',100))
print(datadict.get('AGE',100)) # AGE is not in dictionary

In [43]:
movies['deadpool & wolverine'] = "shawan levay"
movies ['bahubali']= "ss rajamouli"
movies['inception'] = "chritopher nolan"
print(movies)

{'deadpool & wolverine': 'shawan levay', 'inception': 'chritopher nolan', 'the dark knight': 'christopher nolan', 'the prestige': 'christhoper nolan', 'the matrix': 'wachowski brothers', 'bahubali': 'ss rajamouli'}

In [42]:
movies.update(
    {
        'the dark knight': 'christopher nolan',
        'the prestige': 'christhoper nolan',
        'the matrix': 'wachowski brothers',
    }
)
print(movies)

{'deadpool & wolverine': 'shawan levay', 'inception': 'chritopher nolan', 'the dark knight': 'christopher nolan', 'the prestige': 'christhoper nolan', 'the matrix': 'wachowski brothers'}

In [41]:
datadict['name'] = 'Alexnder'
print(datadict)

{'name': 'Alexnder', 'is married': True, 'age': 29, 'city': 'new york', 'profession': 'photographer'}

In [40]:
movies.pop('bahubali') # dictionry may data delete krne ka short fron pop hota hai

KeyError: 'bahubali'

In [39]:
movies

{'deadpool & wolverine': 'shawan levay',
 'inception': 'chritopher nolan',
 'the dark knight': 'christopher nolan',
 'the prestige': 'christhoper nolan',
 'the matrix': 'wachowski brothers'}

for loop in dict will iterate over keys

In [38]:
for item in datadict:
    print(datadict[item])

Alexnder
True
29
new york
photographer

In [37]:
for item in datadict:
    print(datadict[item])

Alexnder
True
29
new york
photographer

In [36]:
for k,v in datadict.items():
    print(k,v)

name Alexnder
is married True
age 29
city new york
profession photographer

In [35]:
movies.keys()

dict_keys(['deadpool & wolverine', 'inception', 'the dark knight', 'the prestige', 'the matrix'])

In [34]:
movies.values()

dict_values(['shawan levay', 'chritopher nolan', 'christopher nolan', 'christhoper nolan', 'wachowski brothers'])

nested dictionay

In [46]:
report = {
    '01':{
        'name': "alex",
        'subject': {
            'maths':80,
            'science':75,
            'english':25,

        }
    },
    '02':{
        'name': "jhon",
        'subject':{
            'maths':50,
            'science':20,
            'english':85
        }
    }
}

In [48]:
report['02']['subject']['english']

85

In [47]:
from pprint import pp

In [49]:
pp(report)

{'01': {'name': 'alex', 'subject': {'maths': 80, 'science': 75, 'english': 25}},
 '02': {'name': 'jhon', 'subject': {'maths': 50, 'science': 20, 'english': 85}}}

In [53]:
rainfall_data = {
    'year': [2019,2012,2023,2024,2015],
    'rainfall':[100,200,300.]

}
print(rainfall_data)

{'year': [2019, 2012, 2023, 2024, 2015], 'rainfall': [100, 200, 300.0]}